@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);

    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

:root {
    --blue-dark: #1b5ec4;
    --blue-normal: #72aaff;
    --blue-light: #d5deff;
    --bg-light: #f0f3ff;
    --bg-blue-light: #d5deff;
    --bg-dark: #1e59b2;
}

* {
    font-family: "Roboto", sans-serif;
}

/* Ηeader */

.color--light {
    color: var(--bg-light);
}

.color--blue-normal {
    color: var(--blue-normal);
}

.main-nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
}

header h2 {
    color: var(--bg-dark);
    font-size: 16px;
}

.menu--item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 5px;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.menu--item:hover .item-text {
    color: white;
}

.item-img img {
    max-height: 25px;
}

.bg--dark {
    background-color: var(--blue-dark);
}

.bg--blue-light {
    background-color: var(--bg-blue-light);
}
nav.border-b {
    border-bottom-width: 3px;
    border-color: var(--bg-dark);
}

nav .border-indigo-400 {
    border-color: white;
}

div .text-white {
    color: white;
}

.nav-prof_img {
    border: 3px solid white;
}
/* End Ηeader */

/* Articles */

a.article_title {
    font-size: 25px;
    color: var(--blue-dark);
}

h3.article_title {
    font-size: 32px;
}

a.article_title:hover {
    color: var(--blue-normal);
}

.article_excerpt {
    font-size: medium;
}

.article-date {
    font-size: 80%;
    opacity: 0.8;
}

.article_body {
    padding: 20px 0;
}
.tags {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    color: gray;
}

.tag {
    padding: 10px 5px;
}

.bg--light {
    background-color: var(--bg-light);
}

.sm--prof-img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.article_user-name {
    padding: 0 10px;
}

.article_user {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.category {
    font-size: small;
    padding: 2px 10px;
    border: 1px solid gray;
    color: gray;
    border-radius: 5px;
    margin: 15px 0 0 0;
    width: auto;
    display: inline-block;
}

/* Custom input */

.custom-file-input {
    padding: 10px;
    width: 150px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: "Select a new image";
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
/* END Custom input */

.article-text {
    padding: 0 0 0 20px;
}

.dot {
    padding: 0 10px 0 0;
    opacity: 0.8;
}

.alert-success {
    color: green;
}
/* End Articles */

/* Footer */

footer,
.main-nav {
    background: var(--blue-dark);
    color: white;
}

.footer-wr {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    max-width: 1210px;
    margin: auto;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
}

.footer-section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    min-width: 150px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 5px;
}

.footer-title {
    font-weight: 600;
    font-size: large;
    border-bottom: 1px solid white;
    margin: 0 0 10px 0;
}

.footer-item,
.footer-title {
    text-align: center;
    color: white;
}

/* End Footer */

/* Pagination */

.pagination nav div:last-child {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.pagination nav div:last-child p {
    padding: 10px 0;
}

/* End Pagination */

/* Home page */

.index-hero {
    background-image: url("../../public/storage/main-bg.jpg");
    height: 80vh;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.index-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000004d;
}

.cloud-container,
.quote-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1251px;
    z-index: 2;
    height: 50%;
    position: relative;
}

.quote-container {
    width: 100%;
}

.quote-text {
    color: white;
    font-weight: bold;
    font-size: 85px;
    text-align: center;
}

.cloud-wr-r {
    background-color: var(--bg-blue-light);
}

.cloud-wr {
    height: 200px;
    width: 45%;
    border-radius: 20px;
    padding: 20px 40px;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.cloud-wr::before {
    content: "";
    position: absolute;
    top: -35px;
    right: 0;
    width: 30px;
    height: 60px;
    border-top: 0;
}

div.cloud-wr-l::before {
    border-left: 35px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 55px solid var(--blue-normal);
}

div.cloud-wr-r::before {
    border-bottom: 55px solid var(--bg-blue-light);
    left: 0;
    border-right: 35px solid transparent;
    border-left: 0 solid transparent;
}

.cloud-wr-l {
    background-color: var(--blue-normal);
}

.cloud-wr h1 {
    font-size: 24px;
}

.cloud-wr-r h1 {
    color: var(--blue-dark);
}
.cloud-wr-l h1 {
    text-align: right;
    color: white;
}

.cloud-bottom {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-box-align: end;
    -moz-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.cloud-wr-l .cloud-bottom {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.cloud-wr-r .cloud-bottom {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.cloud-button {
    border-radius: 10px;
    padding: 5px 10px;
    width: 150px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 1.3px;
    font-size: 14px;
}

.cloud-wr-l .cloud-button {
    border: 2px solid white;
    color: white;
}

.cloud-wr-r .cloud-button {
    border: 2px solid var(--blue-dark);
    color: var(--blue-dark);
}

.cloud-icon {
    width: 30%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.cloud-icon img {
    margin: auto;
    max-height: 100px;
}

.cloud-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
/* ΕND Home page */

/* Comments */

.comment-wr {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 20px 0;
    position: relative;
}

.comment-right {
    position: relative;
    width: 100%;
}

.comment-img {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
}

.comment-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.comment-userdate {
    position: absolute;
    top: 10px;
    left: -20px;
    width: 450px;
    background: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.comment-user {
    padding: 0 10px;
}

.comment-content {
    position: relative;
    margin: 50px 0 0 20px;
    width: 100%;
    font-family: "Montserrat";
    font-size: 90%;
}

.comment-date {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -moz-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: gray;
    margin-bottom: 3px;
    font-size: 60%;
}

.comment-create {
    color: var(--bg-dark);
    box-shadow: 1px 3px 7px #1b5ec445;
    padding: 10px 30px;
    border-radius: 10px;
}

.post-create {
    color: white;
    box-shadow: 1px 3px 7px #1b5ec445;
    padding: 10px 30px;
    border-radius: 10px;
    width: 80%;
    max-width: 1256px;
    justify-content: center;
}

.destroy-button {
    font-size: 8px;
    padding: 5px 5px;
}

/* END Comments */

/* Books */

.book-content {
    padding: 20px;
}

.book-more {
    border-radius: 5px;
    box-shadow: 1px 3px 7px rgb(27 94 196 / 19%);
    width: 100px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
    margin: 10px 0 0 0;
}

/* END Books */

/* Responsive */

@media screen and (max-width: 1430px) {
    .quote-text {
        font-size: 60px;
    }
}

@media screen and (max-width: 1300px) {
    .cloud-content .cloud-text {
        font-size: 18px;
    }
    main .index-hero {
        height: 600px !important;
    }
    .index-hero .cloud-container {
        width: 90%;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .cloud-container .cloud-wr {
        min-width: 340px;
        margin: 20px;
    }
}

@media screen and (max-width: 900px) {
    main .index-hero {
        height: 900px !important;
        -webkit-flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .index-hero .quote-container {
        height: 30%;
    }

    .quote-text {
        font-size: 40px;
    }

    .cloud-bottom .cloud-button {
        width: 100px;
        font-size: 10px;
    }
}

@media screen and (max-width: 900px) {
    .cloud-container div.cloud-wr {
        margin: 0;
    }

    .index-hero div.cloud-container {
        width: 100%;
        margin: auto;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .quote-container h1.quote-text {
        font-size: 15px;
    }

    .index-hero div.quote-container {
        height: 20%;
    }

    div.book-wr {
        height: auto;
        min-height: 400px;
    }

    div.book-wr img {
        object-fit: contain;
    }

    .book-wr .available_at {
        display: none;
    }
    .book-wr .book-content {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
.text-indigo-700 {
    color: #1b5ec4 !important;
}

/* END Responsive */
